
<body>
  <header>
    <h1>Contact Me</h1>
    <p>If you have any questions or want to get in touch, feel free to contact me.</p>
  </header>

  <main>
    <section>
      <h2>Contact Information</h2>
      <p>If you would like to reach out to me, you can contact me via the following methods:</p>
      <ul>
        <li><strong>Phone:</strong>  9148298820</li>
        <li> <strong>Email: </strong> <a href="chiranjeevichiru724@gmail.com" >chiranjeevichiru724&#64;gmail.com</a>
        <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/chiranjeevi-m-n/">LinkedIn</a>
      </ul>
    </section>
  </main>
</body>
